<!DOCTYPE html>

<nav>
    <li><%= link_to'ツイート',"/tweets/　" %></li>
    <li><%= link_to'ツイートと返信',"/tweets/　" %></li>
    <li><%= link_to'メディア',"/tweets/　" %></li>
    <li><%= link_to'いいね',"/tweets/　" %></li>

    
</nav>

